
.attribution { font-size: 16px; text-align: center; 
  color: var(--clr-White);}

  .attribution a { color: hsl(228, 45%, 44%); }

@font-face {
font-family:'interBold';
src: url(./assets/fonts/static/Inter-Bold.ttf);
}
@font-face {
font-family: 'inter-Regular';
src: url(./assets/fonts/static/Inter-Regular.ttf);
}
@font-face {
font-family: 'inter-SemiBold';
src: url(./assets/fonts/static/Inter-SemiBold.ttf);
}
:root{
--clr-Green: hsl(75, 94%, 57%);
--clr-White: hsl(0, 0%, 100%);
--clr-Grey: hsl(0, 0%, 24%);
--clr-Dark-Grey: hsl(0, 2%, 18%);
--clr-Off-Black: hsl(0, 0%, 8%);
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  body{
    height: 100vh;
    background-color: var(--clr-Off-Black);
  }

.main-card{
  max-width: 450px;
  background-color: var(--clr-Dark-Grey);
  border-radius: 15px;
  padding: 30px;
  margin: 40px auto;
  
}
.upper-card{
  text-align: center;
}
img{
  height: 200px;
  border-radius: 400px;
  margin-bottom: 20px;
}
h1{
  font-size: 30px;
  font-family: 'inter-SemiBold', sans-serif;
  color: var(--clr-White);
  margin-bottom: 13px;
}
.location{
  font-size: 17px;
  font-family: 'interRegular', sans-serif;
  margin-bottom: 30px;
  color: var(--clr-Green);
}
.desc{
  font-size: 14px;
  font-family: 'interRegular', sans-serif;
  margin-bottom: 30px;
  color: var(--clr-White);
  font-weight: 100;
  word-spacing: 7px;
}

.social-group{
  display: flex;
  flex-direction: column;
}

.social{
  padding: 15px 0px;
  background-color: var(--clr-Grey);
  margin-bottom: 10px;
  text-align: center;
  font-size: 13px;
  text-decoration: none;
  border-radius: 12px;
  color: var(--clr-White);
  font-family: 'inter-SemiBold', sans-serif;
  transition: 1s;
}
.social:hover{
  cursor: pointer;
  color: var(--clr-Grey);
  background-color: var(--clr-Green);
}
/*media query*/

@media (max-width: 1000px) {
  .main-card{
    max-width: 90%;
  }
}